<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<client>
			<endpoint 
				address="net.pipe://localhost/services/subscriber"
				binding="netNamedPipeBinding"
                contract="ISubscriberService">
			</endpoint>

			<endpoint
				address="net.pipe://localhost/services/publisher"
				binding="netNamedPipeBinding"
				contract="IPublisherService">
			</endpoint>

			<endpoint
				address="net.pipe://localhost/services/topic"
				binding="netNamedPipeBinding"
				contract="ITopicService">
			</endpoint>
			</client>
	</system.serviceModel>
</configuration>