<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISubscriber" />
                <binding name="BasicHttpBinding_IPublisher" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/services/subscriber"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriber"
                contract="ServiceReference1.ISubscriber" name="BasicHttpBinding_ISubscriber" />
            <endpoint address="http://localhost:8080/services/publisher"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPublisher"
                contract="ServiceReference2.IPublisher" name="BasicHttpBinding_IPublisher" />
        </client>
    </system.serviceModel>
</configuration>