<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublisherService" />
                <binding name="BasicHttpBinding_ISubscriberService" />
                <binding name="BasicHttpBinding_ITopicService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/services/publisher"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPublisherService"
                contract="PublisherService.IPublisherService" name="BasicHttpBinding_IPublisherService" />
            <endpoint address="http://localhost:8080/services/subscriber"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriberService"
                contract="SubscriberService.ISubscriberService" name="BasicHttpBinding_ISubscriberService" />
            <endpoint address="http://localhost:8080/services/topic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITopicService" contract="TopicService.ITopicService"
                name="BasicHttpBinding_ITopicService" />
        </client>
    </system.serviceModel>
</configuration>